<?xml version="1.0"?>
<InternetServerPlatform>

	<settings>
		<logFile value="isp.log" />
	</settings>

	<sockets>
		
		<socket on="all:8080" daemon="libWebServer.so">
			<logFile value="webserver.log" />
		</socket>

		<socket on="all:8181" daemon="libJerryMouse.so">
			<logFile value="jerrymouse.log" />
		</socket>
		
	</sockets>

</InternetServerPlatform>
