<?xml version="1.0"?>
<WebServer>

	<webserverSettings>
		<dumpHttpHeaders value="yes" />
	</webserverSettings>

	<domains>
		<defaultValues>
			<defaultFileList value="index.html,index.xml" />
		</defaultValues>

		<domain name="www.paranoiadinmoldova.eu" content="/home/nicu/Temp/www.paranoiadinmoldova.eu" >
			<aliases value="paranoiadinmoldova.eu" />
		</domain>

	</domains>

</WebServer>
