<?xml version="1.0"?>
<InternetServerPlatform>

    <!--    Notes:
                o All the paths that do not start with an "/" are relative to the ISP's path.
                o Having a variable myVar, then @myVar gives you its value.
                o Settings defined at parent level can be overriden at child level.
                o There is no mandatory section.
    ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~  -->


		
	<!--    Defines variables to be used in the rest of the config
    ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~  -->
	<variables>
		<logPrefix value="/var/log/abcdefghi/isp" />
		<blockingFiles value="@logPrefix" />
	</variables>



    <!--    Tunes server's general parameters if not overriden locally
    ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~  -->
    <settings>
        <logFile value="@logPrefix/isp.log" />
        <blockFrom>
            <ip value="5.0.0.1" />
            <ipRange value="5.1.1.1-10.1.1.1" except="6.1.1.1,7.1.1.1" />
            <ipRange value="all" except="6.1.1.1,7.1.1.1" />
            <file value="@blockingFiles/global.blocking" />
            <file value="@blockingFiles/specialUsers.blocking" />
        </blockFrom>
        <mood active="hole">
            <business explanatoryPage="resources/explain.html" />
            <hacker folderToStoreInfoFiles="@logPrefix/blocked-clients" explanatoryPage="resources/explain.html" />
            <hole />
            <brutal countPerSecond="10" countPerMinute="500" totalCount="600" scriptForFirewall="resources/addToFirewallBlockList.sh" runWith="sh" />
        </mood>
    </settings>



	<!--    Defines what sockets to create and what daemons to bind to those sockets
    ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~ ~~~~  -->
    <sockets>
        <socket on="all:80" daemon="daemons/web-server">
            <logFile value="@logPrefix/web-server.log" />
        </socket>

        <socket on="all:21" daemon="daemons/ftp-server">
            <logFile value="@logPrefix/ftp-server.log" />
        </socket>

        <socket on="all:22" daemon="daemons/ssh-server">
            <logFile value="@logPrefix/ssh-server.log" />
            <blockFrom>
                <ipRange value="all" except="192.168.1.5"/>
            </blockFrom>
            <mood active="brutal">
                <brutal countPerSecond="10" countPerMinute="500" totalCount="600" scriptForFirewall="resources/addToFirewallBlockList.sh" runWith="sh" />
            </mood>
        </socket>
    
	</sockets>

</InternetServerPlatform>
