<?xml version="1.0"?>
<webserver>

	<webserverSettings>
		<dumpHttpHeaders value="yes" />
	</webserverSettings>

	<domains>
		<defaultValues>
			<defaultFileList value="index.html,index.xml" />
			<actions>
				<php executable="/usr/home/nicu/php/bin/php-cgi" params="-f" />
			</actions>
		</defaultValues>

		<domain name="eu.g-e-n-i-e.eu" content="/usr/home/nicu/sites/eu.g-e-n-i-e.eu" />

		<domain name="www.kornelius.eu" content="/usr/home/kornelius/incoming/sites/www.kornelius.eu" >
			<aliases value="kornelius.eu" />
		</domain>
		
		<domain name="www.mcf-engros.eu" content="/home/stegavitalie/incoming/sites/www.mcf-engros.eu" >
			<aliases value="mcf-engros.eu" />
		</domain>
		
		<domain name="www.mphotel.eu" content="/home/stegavitalie/incoming/sites/www.mphotel.eu" >
			<aliases value="mphotel.eu" />
		</domain>

		<domain name="www.nikushor.eu" content="/usr/home/nicu/sites/www.nikushor.eu" >
			<aliases value="nikushor.eu,78.159.149.104" />
		</domain>

		<domain name="www.paranoiadinmoldova.eu" content="/usr/home/nicu/sites/www.paranoiadinmoldova.eu" >
			<aliases value="paranoiadinmoldova.eu" />
		</domain>

		<domain name="www.stegasoft.eu" content="/home/stegavitalie/incoming/sites/www.stegasoft.eu" >
			<aliases value="stegasoft.eu" />
		</domain>

		<domain name="www.the-mother.eu" content="/usr/home/nicu/sites/www.the-mother.eu" >
			<aliases value="the-mother.eu" />
		</domain>

		<domain name="www.toeflenglish.eu" content="/home/stegavitalie/incoming/sites/www.toeflenglish.eu" >
			<aliases value="toeflenglish.eu" />
		</domain>

		<!-- hosting music sites from MD -->
		<domain name="www.music-md.eu" content="/usr/home/nicu/sites/www.music-md.eu" >
			<aliases value="music-md.eu" />
		</domain>
		
		<domain name="inox.music-md.eu" content="/usr/home/nicu/sites/www.music-md.eu/inox" />

		<!-- lisnic -->
		<domain name="lisnic.music-md.eu" content="/home/lisnicvitalie/incoming/sites/lisnic.music-md.eu" />
		<domain name="karaoke.music-md.eu" content="/home/lisnicvitalie/incoming/sites/karaoke.music-md.eu" >
			<aliases value="karaoke.md,www.karaoke.md"/>
		</domain>

	</domains>

</webserver>
